<div id="search">
  <% @search.each do |result| %>
    <div class="media">

      <div class="media-body">
        <h4 class="text-info">
          <%= link_to result.searchable.title, result.searchable.article_url, target: "_blank" %>
        </h4>
          <p>
            <h6 class="text-success"><%= result.searchable.site.site_url %>
                <span class="label label-warning"><i class="glyphicon glyphicon-star"></i></span>
                <span class="label label-danger"><i class="glyphicon glyphicon-magnet"></i></span>

                <span class="label label-info">
                  +<%= result.searchable.site.articles.length %> articles
                </span>
            </h6>
          </p>
          <p>
            <% @result = result.content %>
            <%= Word.densities_scrap(@query, @result) %>
          </p>
      </div>
    </div>
  <% end %>
</div>