<% if @search.size == 0 %>
  <div id="search">
        <div id="link" class="media">
          <div class="media-body">
            <h4 class="text-info">
              Your search didn't return a result (this time),
              Grab yourself a <i class="text-warning octicon octicon-beer"></i>,
              and try one of these:
            </h4>
            </div>
        </div>
    </div>
<% else %>
  <div id="search">
    <div class="text-muted">
        Tip: click the
        <i class='text-muted glyphicon glyphicon-info-sign'></i>
        to see the <span class="text-warning">confidence index</span> breakdown.
    </div>  
    <% @search.each do |result| %>
      <div id="link" class="media">

        <div class="media-body">
          <h4 class="text-info">
            <%= link_to result.title, result.article_url, target: "_blank" %>
          </h4>

            <h5 class="text-success"><%= result.site.site_url %>
                
            </h5>

            <h5 class="text-warning">Confidence Index
              <% star = result.site.confidence.to_f %>
              <% star_to_five = ((star/10)/2).round %>
              <% star_to_five.times do %>
                <span class='glyphicon glyphicon-star'></span>
              <%end %>

              <% no_star = 5 - star_to_five %>
              <% no_star.times do %>
                <span class='text-muted glyphicon glyphicon-star-empty'></span>
              <% end %>
              
              <%= link_to "", 
              site_path(id: result.site.id, article_id: result.id), 
              remote: true, 
              title: "click to understand",
               class: "text-muted glyphicon glyphicon-info-sign" %>
               
            </h5>
            <div id="<%= result.id %>" class="confidenceindex">
            
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% end %>